@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --primary-color: #fb8500;
  --secondary-color: #ffb703;
  --accent1-color: #023047;
  --accent2-color: #8ecae6;

  --heading-font: "Kadwa", serif;
  --paragraph-font: "Roboto", sans-serif;

  --nav-background-color: #023047;
  --nav-link-color: #8ecae6;
  --nav-hover-link-color: #ffb703;
  --nav-hover-background-color: #fb8500;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}
nav a {
  display: inline;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:hover{
  color: var(--nav-hover-link-color);
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

.hero {
  position: relative;
}

.hero img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  position: relative;
  float: right;
  width: 30%;
  margin-top: -30px;
  margin-right: 25px;
}

.hero article {
  position: relative;
}

main div h1 {
  position: relative;
  margin-left: 10%;
}

.hero p {
  background-color: rgba(133, 193, 233, 0.5);
  width: 60%;
  padding: 10px;
  margin-left: 20px;
  margin-top: 80px;
}

#history {
  margin-top: 17%;
  position: relative;
}

.sociallinks a img {
  width: 40px;
  margin-top: -30px;
}

.hero h1 {
  position: relative;
  margin-left: 225px;
  padding-top: 10px;
}

.hero {
  margin-top: -21px;
}

/*header grid added*/
.header-grid{
  display: grid;
  grid-template-columns: 25% 70%;
  justify-content: center;
  align-content: center;
}

.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
}


/*added*/

.adventure-img{
  display: grid;
 grid-template-columns: 20% 20% 20% 20% 20%;

 align-content: space-around;
 justify-content: space-around;
 align-items: center;
 justify-items: center;

}

.adventure-img figure img{
  width: 150%;

}

.adventure-img figure figcaption{
  background-color: rgb(195, 201, 201);
  margin-top: -5px;
  width: 150%;
  font-style: italic;
  text-align: center;
}


/*Footer style*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000; 
  padding: 10px;
}


footer p {
  margin: 0;
}


.sociallinks {
  display: flex;
  gap: 10px; 
  align-items: center;
}


/*form style*/

.formulario {
  width: 450px;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.formulario form{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario label.radio-label {
  font-weight: normal;
  display: inline;
}

.formulario input[type="radio"] {
  margin-right: 5px;
}

.formulario button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}


.formulario button[type="submit"]:hover {
  background-color: #0056b3;
}



/*datos*/
.datos p{
padding: 0;
margin-top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.datos h1{
  text-align: center;
  margin-left: -5px;
}


.map {
  display: flex;
  justify-content: center;

}

.map iframe {
  width: 500px; 
  height: 450px;
  border: 0;
} 


.formulario label{
  margin-top: 15px;
}

.formulario button{
  margin-top: 15px;
 margin-left: 30%;
}

.formulario button{
  margin-top: 15px;
 margin-left: 40%;
}

.radio-label{
  margin-left: 0%;
}

#subscribe{
  display: inline;

}

#label-subscribe{
  display: inline;
  width: 450px;
}





/* staff */


.staff{
  display: grid;
 grid-template-columns: 20% 20% 20%;

 align-content: space-around;
 justify-content: space-around;
 align-items: center;
 justify-items: center;

}

.staff figure img{
  width: 200%;

}

.staff figure figcaption{
  background-color: rgb(195, 201, 201);
  margin-top: -5px;
  width: 200%;
  font-style: italic;
  text-align: center;
}


#h2-staff{
  text-align: center;
}


#h2-Contact{
  text-align: center;
}